.list-table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:  minmax(10rem, 1fr) minmax(10rem, 1fr) minmax(10rem, 1fr) minmax(10rem, 1fr);

    thead,tbody,tr {
        display: contents;
    }

    th {
        background: black;
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
        color: white;
        padding: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    td {
      color: grey;
      padding: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a{
        color: black;
        font-weight: bold;
      }
    }
    
    tr:nth-child(even) td {
      background: lightgray;
      color: black;
    }
  }


@media only screen and (max-width: 768px) {
    .list-table {
       overflow-x: auto;
    }
}