.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #000000;
    &-logo{
        width: 20rem;
        img{
            width: 5rem;
            height: auto;
        }
    }
    &-nav{
        display: flex;
        gap: 2rem;
    }
}